* {
  list-style-type: none;
  margin:0;
}

.room {
  padding: 0.5em;
  font-size: 1em;
  float: left;
  background-color: lightsteelblue;
  height: 754px;
}

.message-room {
  background-color: whitesmoke;
  height: 770px;
  width: 1351px;
}

.message-list {
  background-color: white;
  color: blue;
}

.bloc-chat-title {
  text-align: center;
  margin-bottom: 30px;
}

header {
  background-color: white;
  height: 80px;
}

h2 {
  font-size: 1.2em;
}

.user-login {
  justify-content:
}

input.message-text {
    width: 1032px;
}

button.delete-room {
    margin-left: 1em;
    border: none;
    background: none;
    color: lightsteelblue ;
}

button.delete-room:hover {
    margin-left: 4px;
    border: 1px solid red;
    background: none;
    color: red;
}
