* {
  list-style-type: none;
  margin:0;
}

.room {
  padding: 0.5em;
  font-size: 1em;
  float: left;
  background-color: lightsteelblue;
  height: 754px;
}

.message-room {
  padding: 0.5em;
  background-color: whitesmoke;
  height: 754px;
}

.message-list {
  background-color: white;
  color: blue;
}

.bloc-chat-title {
  text-align: center;
  margin-bottom: 30px;
}

header {
  background-color: white;
  height: 80px;
}

h2 {
  font-size: 1.2em;
}

.user-login {
  justify-content:
}
